.column {
    float: left;
    padding: 125px;

}
 

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#ac0e83;
}

.uk {
    font-family: Courier;
    color: #D56F3E;
}

.japan {
    font-family: Impact;
    color: #3C787E;
}

.france {
    font-family: Arial;
    color: #C7EF00;
}

body {
    background-color: #D0CD94;
}