.orange {
    color:orange;
}

body {
    font-family: helvetica;
    padding-left:12px;
    padding-right:12px;
}

.strikethrough{
    font-size:16px;
    text-decoration: line-through;
    font-weight: normal;
}

.main{
    border-width:thin;
    border-style:transparent;
    border-radius:10px;
    background-color: lightblue;
    box-shadow: 10px 10px 20px 10px;
    border-color:transparent;
}
.feature{
    color:red;
}

section{
    border-style:dotted;
    border-color: green;
}
em {
    background-color: yellow
}

.secondary {
    background-color:transparent;
}

.noindent {
    margin-left:0;
}

.pink {
    background-color: pink;
}

.lemon {
    background-color: yellow;
}

.aqua{
    background-color: aquamarine;
}

.grape {
    background-color: purple;
}

.inline {
    display:inline;
}

.penguin {
    background-image: url(http://f.cl.ly/items/3w3C08171D0H0P2L043I/penguin.jpg);
    background-repeat: no-repeat;
    height:191px;
}